/* make image*/
.navbar-brand{
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}




/* make image*/
.back-image{

	background-size: cover;
	background-position: center center;
	min-height: 70vh;
	border-radius: 0px;

}
a{
	color: red;
}





